body {
	--col-fg: #000;
	--col-body: #FFF;
	--col-border: #999;
	--col-border-hv: #669;
	--col-border-focus: #888;
	--col-bg-dk: #FFF;
	--col-bg-dk-hv: #EEF;
	--col-bg-dk-focus: #EEF;
	--col-bg-lt: #CCC;
	--col-bg-lt-hv: #9DF;
	--col-bg-lt-focus: #777;
	--col-bg-err: #F99;
	--col-bg-err-hv: #F88;
	--col-bg-err-focus: #F77;
	--col-shadow: #999;

	--border-w: 1px;
}

@media (prefers-color-scheme: dark) {
	body {
		--col-fg: #FFF;
		--col-body: #111;
		--col-border: #444;
		--col-border-hv: #555;
		--col-border-focus: #666;
		--col-bg-dk: #333;
		--col-bg-dk-hv: #444;
		--col-bg-dk-focus: #555;
		--col-bg-lt: #555;
		--col-bg-lt-hv: #666;
		--col-bg-lt-focus: #777;
		--col-bg-err: #933;
		--col-bg-err-hv: #944;
		--col-bg-err-focus: #A55;
		--col-shadow: #999;
	}
}

body, button, input, select {
	color: var(--col-fg);
	background-color: var(--col-body);
	font-family: Calibri;
	font-size: medium;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.img-btn {
	cursor: pointer;
	position: relative;
}

.img-btn::before {
	content: "";
	position: absolute;
	inset: 1px;
	-webkit-mask-image: var(--mask-image);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	-webkit-mask-position: center;
	mask-image: var(--mask-image);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center;
	transition-property: background-color;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.btn.img-btn::before {
	background-color: var(--col-border);
}

.btn.img-btn:hover::before {
	background-color: var(--col-border-hv);
}

select.cr-control {
	cursor: pointer;
}

.btn,
.check {
	cursor: pointer;
	padding: 5px;
	user-select: none;
}

.label,
.check {
	display: flex;
	gap: 5px;
	align-items: center;
}

.btn,
.btn::before,
.cr-control,
.cr-border {
	transition-property: box-shadow, border-color, background-color, color;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.btn,
.cr-border {
	border: solid var(--border-w) var(--col-border);
	border-radius: 5px;
}

.cr-border:hover {
	z-index: 1;
	border-color: var(--col-border-hv);
}

.cr-control {
	outline: none;
}

.cr-control.cr-border:focus {
	z-index: 1;
	border-color: var(--col-border-focus);
	box-shadow: 0px 0px 2px 1px var(--col-shadow);
}

.btn,
.cr-control {
	background-color: var(--col-bg-lt);
}

.btn:hover,
.cr-control:hover {
	background-color: var(--col-bg-lt-hv);
}

.btn:hover,
.cr-border:hover {
	border-color: var(--col-border-hv);
}

.btn:hover,
.cr-border:focus {
	border-color: var(--col-border-focus);
}

.btn:focus,
.btn:focus:hover,
.cr-control:focus,
.cr-control:focus:hover {
	background-color: var(--col-bg-lt-focus);
}

input:not([type="checkbox"]).cr-control:invalid {
	background-color: var(--col-bg-err);
}

input:not([type="checkbox"]).cr-control:invalid:hover {
	background-color: var(--col-bg-err-hv);
}

input:not([type="checkbox"]).cr-control:invalid:focus,
input:not([type="checkbox"]).cr-control:invalid:focus:hover {
	background-color: var(--col-bg-err-focus);
}

input:not([type="checkbox"]).cr-control {
	background-color: var(--col-bg-dk);
}

input:not([type="checkbox"]).cr-control:hover {
	background-color: var(--col-bg-dk-hv);
}

input:not([type="checkbox"]).cr-control:focus,
input:not([type="checkbox"]).cr-control:focus:hover {
	background-color: var(--col-bg-dk-focus);
}

.group {
	display: flex;
	height: 1.8rem;
	justify-content: center;
	align-content: stretch;
	align-items: stretch;
}

.group > * {
	flex: 0px 1 1;
	border-radius: 0 !important;
}

.group > .check {
	flex: auto 0 0;
}

.group > .label {
	background-color: var(--col-bg-lt);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	font: inherit;
}

.group > *:hover {
	z-index: 1;
}

.group > :not(:first-child) {
	margin-left: calc(var(--border-w) * -1);
}

.group > :first-child:last-child {
	border-radius: 5px !important;
}

.group > :first-child {
	border-radius: 5px 0 0 5px !important;
}

.group > :last-child {
	border-radius: 0 5px 5px 0 !important;
}
