.img-btn {
	cursor: pointer;
	position: relative;
}

.img-btn::before {
	content: "";
	position: absolute;
	inset: 2px;
	-webkit-mask-image: var(--mask-image);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	-webkit-mask-position: center;
	mask-image: var(--mask-image);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center;
}

.cr .btn {
	border: solid 1px #444;
	border-radius: 5px;
}

.cr input {
	background-color: #444;
}

.cr select,
.cr button,
.cr input {
	outline: none;
	border: solid 1px #444;
	border-radius: 0;
}

.cr .btn,
.cr select,
.cr button {
	cursor: pointer;
	background-color: #6b6b6b;
	color: #FFF;
}

.cr .btn:hover,
.cr select:hover,
.cr button:hover {
	background-color: #777;
}

.cr .btn:hover,
.cr select:hover,
.cr button:hover,
.cr input:hover {
	z-index: 1;
	border-color: #666;
}

.cr *:focus,
.cr *:focus:hover {
	z-index: 1;
	border-color: #888;
}

.group {
	display: flex;
	height: 1.8rem;
	justify-content: center;
	align-content: stretch;
	align-items: stretch;
}

.group > * {
	flex: 0px 1 1;
}

.group > .label {
	background-color: #6b6b6b;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	font: inherit;
	font-size: small;
	font-weight: bold;
}

.group > :not(:first-child) {
	margin-left: -1px;
}

.group > :first-child {
	border-radius: 5px 0 0 5px;
}

.group > :last-child {
	border-radius: 0 5px 5px 0;
}

input:hover, input:focus {
	background-color: #555;
}