:root, [data-bs-theme=light] {
	--col-indent-1: #9D0208;
	--col-indent-2: #D00000;
	--col-indent-3: #DC2F02;
	--col-indent-4: #E85D04;
	--col-indent-5: #F48C06;
	--col-indent-6: #FAA307;
	--col-indent-7: #FFBA08;
}

.indent-0 {
	--col-indent: var(--col-indent-1);
}

.indent-1 {
	--col-indent: var(--col-indent-2);
}

.indent-2 {
	--col-indent: var(--col-indent-3);
}

.indent-3 {
	--col-indent: var(--col-indent-4);
}

.indent-4 {
	--col-indent: var(--col-indent-5);
}

.indent-5 {
	--col-indent: var(--col-indent-6);
}

.indent-6 {
	--col-indent: var(--col-indent-7);
}

.indent-7 {
	--col-indent: var(--col-indent-6);
}

.indent-8 {
	--col-indent: var(--col-indent-5);
}

.indent-9 {
	--col-indent: var(--col-indent-4);
}

.indent-10 {
	--col-indent: var(--col-indent-3);
}

.indent-11 {
	--col-indent: var(--col-indent-2);
}

.indent-12 {
	--col-indent: var(--col-indent-1);
}