:root, [data-bs-theme=light] {
	--bs-body-bg: #c9cbd6;
	--bs-body-bg-rgb: 201, 203, 214;

	--col-json-container: var(--bs-emphasis-color);
	--col-json-key-fg: #035e73;
	--col-json-str-fg: #6a7305;
	--col-json-num-fg: #87004d;
	--col-json-keywd-fg: #30056b;
	--col-match-fg: #000;
	--col-match-bg: #CC3;
}

[data-bs-theme=dark] {
	--bs-body-bg: #282a36;
	--bs-body-bg-rgb: 40, 42, 54;

	--col-json-key-fg: #8be9fd;
	--col-json-str-fg: #f1fa8c;
	--col-json-num-fg: #ff79c6;
	--col-json-keywd-fg: #bd93f9;
}
