body {
	--json-key-fg: #18F;
	--json-str-fg: #854;
	--json-num-fg: #992;
	--json-bln-fg: #14A;
	--json-null-fg: #95F;
	--match-fg: #000;
	--match-bg: #CC3;

	position: absolute;
	inset: 0;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: 1fr;
}

@media (prefers-color-scheme: dark) {
	body {
		--json-key-fg: #8CF;
		--json-str-fg: #C75;
		--json-num-fg: #FF8;
		--json-bln-fg: #38F;
		--json-null-fg: #95F;
		--match-fg: #000;
		--match-bg: #FF0;
	}
}

span.match {
	background-color: var(--match-bg);
	color: var(--match-fg);
}

.json-root {
	font-family: monospace;
	grid-area: 1 / 1 / span 1 / span 1;
	overflow-y: scroll;
	padding: 5px;
	padding-bottom: 10rem;
}

.json-key {
	display: unset !important;
}

[hidden]:not(.json-key) {
	display: none !important;
}

.controls {
	grid-area: 1 / 2 / span 1 / span 1;
	display: flex;
	flex-direction: column;
	width: 30rem;
	gap: 5px;
	padding: 5px;
}

.controls > * {
	vertical-align: middle;
}

.controls .filter-type,
.controls .btn-jpath {
	flex: 7rem 0 0;
}

.controls .group > .btn-clear {
	flex: 1.5rem 0 0;
}

.controls .group > .label {
	flex: 3rem 0 0;
}

.json-results {
	flex: 0px 1 1;
	border: solid 1px var(--col-border);
	border-radius: 5px;
	padding: 5px;
}

.json-results:empty::before {
	content: "No Results";
	color: #888;
	font-size: small;
	font-style: italic;
	display: flex;
	justify-content: center;
}

.json-results > li {
	text-overflow: ellipsis;
	overflow: hidden;
	transition: none;
	cursor: pointer;
	border: solid transparent 2px;
	border-radius: 5px;
	padding: 2px;
}

.json-results > li:hover {
	border-color: var(--col-border-hv);
	background-color: var(--col-bg-lt-hv);
}

.json-key {
	color: var(--json-key-fg);
}

.json-string {
	color: var(--json-str-fg);
}

.json-string::before,
.json-string::after {
	content: '"';
}

.json-number {
	color: var(--json-num-fg);
}

.json-boolean {
	color: var(--json-bln-fg);
}

.json-null {
	color: var(--json-null-fg);
}

.json-prop > .json-key::after {
	content: ":";
	color: var(--col-fg);
}

.json-prop:not(.expanded) > .json-container {
	display: none;
}

.json-object,
.json-array {
	display: flex;
	flex-direction: column;
}

.json-prop:not(.expanded) > .expander::before {
	rotate: -90deg;
}

.summary-count {
	color: var(--json-num-fg);
	padding: 0 5px;
}

.summary-count::before,
.summary-count::after {
	color: var(--col-fg);
}

.summary-object::before {
	content: "Object(";
}

.summary-array::before {
	content: "Array(";
}

.summary-object::after,
.summary-array::after {
	content: ")";
}

.expander::before {
	background-color: #999;
	--mask-image: url("chrome-extension://__MSG_@@extension_id__/res/arrow.svg");
}

.btn-clear::before {
	--mask-image: url("chrome-extension://__MSG_@@extension_id__/res/clear.svg");
}

.copy-btn::before {
	inset: 0;
	--mask-image: url("chrome-extension://__MSG_@@extension_id__/res/copy.svg");
}

.json-prop {
	display: grid;
	grid-template-columns: 1em auto auto 1fr;
	grid-template-rows: auto auto;
}

.json-prop > .summary-count {
	grid-area: 1 / 3 / span 1 / span 1;
}

.json-prop > .expander {
	grid-area: 1 / 1 / span 1 / span 1;
}

.json-prop > .json-key {
	grid-area: 1 / 2 / span 1 / span 1;
}

.json-prop > .json-value {
	grid-area: 1 / 3 / span 1 / span 1;
	margin: 0 5px;
}

.json-prop > .copy-btn {
	height: 0.75rem;
	width: 0.75rem;
	margin: auto 0;
	grid-area: 1 / 4 / span 1 / span 1;
	display: none;
}

.json-prop.hv:not(.hv-child) > .copy-btn {
	display: unset;
}

.json-prop > .json-array,
.json-prop > .json-object {
	grid-area: 2 / 2 / span 1 / -1;
}

.blink {
	animation: blink 1s ease-in-out;
}

@keyframes blink {
	0% {
	}

	50% {
		background-color: var(--match-bg);
		color: var(--match-fg);
	}

	100% {
	}
}