:root, [data-bs-theme=light] {
	--bs-body-bg: #e8f4ff;
	--bs-body-bg-rgb: 232, 244, 255;

	--col-json-container: var(--bs-emphasis-color);
	--col-json-key-fg: #6688cc;
	--col-json-str-fg: #22aa44;
	--col-json-num-fg: #f280d0;
	--col-json-keywd-fg: #f280d0;
	--col-match-fg: #000;
	--col-match-bg: #CC3;
}

[data-bs-theme=dark] {
	--bs-body-bg: #000c18;
	--bs-body-bg-rgb: 0, 12, 24;
}
