:root, [data-bs-theme=light] {
	--bs-body-bg: #c9cbd6;
	--bs-body-bg-rgb: 201, 203, 214;

	--col-json-container: var(--bs-emphasis-color);
	--col-json-key-fg: #703399;
	--col-json-str-fg: #91b859;
	--col-json-num-fg: #f76d47;
	--col-json-keywd-fg: #f76d47;
	--col-match-fg: #000;
	--col-match-bg: #CC3;
}

[data-bs-theme=dark] {
	--bs-body-bg: #263238;
	--bs-body-bg-rgb: 38, 50, 56;

	--col-json-key-fg: #c792ea;
	--col-json-str-fg: #c3e88d;
	--col-json-num-fg: #89ddff;
	--col-json-keywd-fg: #f78c6c;
}
