body {
	--json-key-fg: #8CF;
	--json-str-fg: #C75;
	--json-num-fg: #FF8;
	--json-bln-fg: #38F;
	--json-null-fg: #95F;

	font-family: monospace;
	position: absolute;
	inset: 0;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: 1fr;
}

.img-btn {
	cursor: pointer;
	position: relative;
}

.img-btn::before {
	content: "";
	position: absolute;
	inset: 2px;
	-webkit-mask-image: var(--mask-image);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	-webkit-mask-position: center;
	mask-image: var(--mask-image);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center;
}

span.match {
	background-color: #FF0;
	color: #000;
}

.json-root {
	grid-area: 1 / 1 / span 1 / span 1;
	overflow-y: scroll;
}

.json-key {
	display: unset !important;
}

[hidden]:not(.json-key) {
	display: none !important;
}

.controls {
	grid-area: 1 / 2 / span 1 / span 1;
	display: grid;
	width: 30rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1.8rem 1.8rem 1.8rem 1fr;
	grid-gap: 5px;
	grid-template-areas:
		"btn-expand btn-expand btn-collapse btn-collapse"
		"filter filter filter filter-type"
		"jpath jpath jpath btn-jpath"
		"json-results json-results json-results json-results";
	padding: 5px;
}

.controls > .btn-expand {
	grid-area: btn-expand;
}

.btn-collapse {
	grid-area: btn-collapse;
}

.controls > .filter {
	grid-area: filter;
}

.controls > .filter-type {
	grid-area: filter-type;
}

.controls > .jpath {
	grid-area: jpath;
}

.controls > .btn-jpath {
	grid-area: btn-jpath;
}

.controls > .json-results {
	grid-area: json-results;
}

.controls > * {
	vertical-align: middle;
}

.json-results {
	border: solid 1px #444;
	border-radius: 5px;
}

.json-key {
	color: var(--json-key-fg);
}

.json-string {
	color: var(--json-str-fg);
}

.json-string::before,
.json-string::after {
	content: '"';
}

.json-number {
	color: var(--json-num-fg);
}

.json-boolean {
	color: var(--json-bln-fg);
}

.json-null {
	color: var(--json-null-fg);
}

.json-prop > .json-key::after {
	content: ":";
	color: white;
}

.json-prop:not(.expanded) > .json-container {
	display: none;
}

.json-object,
.json-array {
	display: flex;
	flex-direction: column;
}

.json-prop:not(.expanded) > .expander::before {
	rotate: -90deg;
}

.summary-count {
	color: var(--json-num-fg);
	padding: 0 5px;
}

.summary-count::before,
.summary-count::after {
	color: white;
}

.summary-object::before {
	content: "Object(";
}

.summary-array::before {
	content: "Array(";
}

.summary-object::after,
.summary-array::after {
	content: ")";
}

.expander::before {
	background-color: #999;
	--mask-image: url("chrome-extension://__MSG_@@extension_id__/res/arrow.svg");
}

.copy-btn::before {
	inset: 0;
	background-color: #333;
	--mask-image: url("chrome-extension://__MSG_@@extension_id__/res/copy.svg");
}

.json-prop {
	display: grid;
	grid-template-columns: 1em min-content min-content min-content 1fr;
	grid-template-rows: auto auto;
}

.json-prop > .summary-count {
	grid-area: 1 / 3 / span 1 / span 1;
}

.json-prop > .expander {
	grid-area: 1 / 1 / span 1 / span 1;
}

.json-prop > .json-key {
	grid-area: 1 / 2 / span 1 / span 1;
}

.json-prop > .json-value {
	grid-area: 1 / 3 / span 1 / -1;
	padding: 0 5px;
}

.json-prop > .copy-btn {
	height: 0.75rem;
	width: 0.75rem;
	margin: auto 0;
	grid-area: 1 / 4 / span 1 / span 1;
	display: none;
}

.json-prop.hv:not(.hv-child) > .copy-btn {
	display: unset;
}

.json-prop > .json-array,
.json-prop > .json-object {
	grid-area: 2 / 2 / span 1 / -1;
}

.btn {
	cursor: pointer;
	background-color: #6b6b6b;
	color: #FFF;
	border: solid 1px #444;
	border-radius: 5px;
}