body {
	--json-key-fg: #8CF;
	--json-str-fg: #C75;
	--json-num-fg: #3AF;
	--json-bln-fg: #38F;

	font-family: monospace;
	position: absolute;
	inset: 0;
	margin: 0;
	padding: 0;
}

.json-key {
	color: var(--json-key-fg);
}

.json-string {
	color: var(--json-str-fg);
}

.json-number {
	color: var(--json-num-fg);
}

.json-boolean {
	color: var(--json-bln-fg);
}

.json-prop > .json-key::after {
	content: ":";
	color: white;
	padding-right: 5px;
}

.json-prop:not(.expanded) > .json-container {
	display: none;
}

.json-object,
.json-array {
	display: flex;
	flex-direction: column;
}

.json-prop:not(.expanded) > .expander::before {
	rotate: -90deg;
}

.expander {
	cursor: pointer;
	position: relative;
}

.expander::before {
	content: "";
	position: absolute;
	inset: 2px;
	background-color: #999;
	-webkit-mask-image: url("arrow.svg");
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	-webkit-mask-position: center;
	mask-image: url("arrow.svg");
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center;
}

.json-prop {
	display: grid;
	grid-template-columns: 1em auto 1fr;
	grid-template-rows: auto auto;
}

.json-prop > .summary {
	grid-area: 1 / 3 / span 1 / span 1;
}

.json-prop > .expander {
	grid-area: 1 / 1 / span 1 / span 1;
	min-width: 0;
}

.json-prop > .json-key {
	grid-area: 1 / 2 / span 1 / span 1;
}

.json-prop > .json-value {
	grid-area: 1 / 3 / span 1 / span 1;
}

.json-prop > .json-array,
.json-prop > .json-object {
	grid-area: 2 / 2 / span 1 / span 2;
}