:root, [data-bs-theme=light] {
	--col-json-container: var(--bs-emphasis-color);
	--col-json-key-fg: #000000;
	--col-json-str-fg: #a31515;
	--col-json-num-fg: #098658;
	--col-json-keywd-fg: #0000ff;
	--col-match-fg: #000;
	--col-match-bg: #CC3;
}

[data-bs-theme=dark] {
	--col-json-key-fg: #9cdcfe;
	--col-json-str-fg: #ce9178;
	--col-json-num-fg: #b5cea8;
	--col-json-keywd-fg: #569cd6;
}
