$border-w: 1px;
$border-rad: 5px;

$pad-small: 2px;
$pad-med: 5px;
$pad-l: 15px;

$anim-short: 100ms;
$anim-med: 200ms;

@mixin group {
	display: flex;
	flex-direction: row;

	&:has(.control) {
		> :global(*) {
			min-width: 0;
			flex: 0 0 content;
		}

		> :global(.control) {
			flex: 1 1 0;
		}
	}

	> :global(*) {
		min-width: 0;
		flex: 1 1 0;
		border-radius: 0 !important;

		&:not(:first-child) {
			margin-left: -$border-w;
		}

		&:first-child {
			border-top-left-radius: $border-rad !important;
			border-bottom-left-radius: $border-rad !important;
		}

		&:last-child {
			border-top-right-radius: $border-rad !important;
			border-bottom-right-radius: $border-rad !important;
		}
	}
}

@mixin control {
	@include border-rnd;
	@include hv;

	outline: none;
	padding: $pad-med;
}

@mixin img-btn {
	cursor: pointer;
	position: relative;
	
	&:before {
		content: "";
		position: absolute;
		inset: 1px;
		-webkit-mask-image: var(--mask-image);
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: contain;
		-webkit-mask-position: center;
		mask-image: var(--mask-image);
		mask-repeat: no-repeat;
		mask-size: contain;
		mask-position: center;
	}
}

@mixin border {
	border: solid $border-w var(--col-border);
}

@mixin border-rnd {
	@include border;
	border-radius: $border-rad;
}

@mixin hv {
	transition-property: filter;
	transition-duration: $anim-short;
	transition-timing-function: ease-in-out;

	&:hover {
		z-index: 1;
		filter: var(--flt-bright-hv);
	}

	&:focus,
	&:focus:hover {
		z-index: 2;
		filter: var(--flt-bright-focus);
	}
}

@mixin hv-b4 {
	&::before {
		@include hv;
	}
}
