@use "./core.scss" as core;

:root {
	--flt-bright-hv: brightness(0.95);
	--flt-bright-focus: brightness(0.85);

	--col-json-key-fg: #18F;
	--col-json-str-fg: #854;
	--col-json-num-fg: #992;
	--col-json-bln-fg: #14A;
	--col-json-null-fg: #95F;
	--col-match-fg: #000;
	--col-match-bg: #CC3;

	--col-indent-1: #F44;
	--col-indent-2: #F84;
	--col-indent-3: #FF8;
	--col-indent-4: #8F8;
	--col-indent-5: #4FF;
	--col-indent-6: #48F;
	--col-indent-7: #F8F;
	--col-indent-8: #F4F;

	--col-fg: #000;
	--col-body: #FFF;
	--col-border: #999;
	--col-bg-dk: #FFF;
	--col-bg-lt: #CCC;
	--col-bg-err: #F99;
	--col-shadow: #999;
	
	color: var(--col-fg);
	background-color: var(--col-body);
}

@media (prefers-color-scheme: dark) {
	:root {
		--flt-bright-hv: brightness(1.2);
		--flt-bright-focus: brightness(1.4);

		--col-json-key-fg: #8CF;
		--col-json-str-fg: #C75;
		--col-json-num-fg: #FF8;
		--col-json-bln-fg: #38F;
		--col-json-null-fg: #95F;
		--col-match-fg: #000;
		--col-match-bg: #FF0;

		--col-indent-1: #B44;
		--col-indent-2: #B84;
		--col-indent-3: #BB8;
		--col-indent-4: #8B8;
		--col-indent-5: #4BB;
		--col-indent-6: #48B;
		--col-indent-7: #B8B;
		--col-indent-8: #B4B;

		--col-fg: #FFF;
		--col-body: #111;
		--col-border: #444;
		--col-bg-dk: #333;
		--col-bg-lt: #555;
		--col-bg-err: #933;
		--col-shadow: #999;
	}
}

:global(*) {
	font-family: Calibri;
	font-size: medium;
}

:global(input:not([type="checkbox"]).control),
:global(textarea.control) {
	background-color: var(--col-bg-dk);
}

:global(.control) {
	@include core.border-rnd;
	@include core.hv;

	background-color: var(--col-bg-lt);
	outline: none;
	padding: core.$pad-med;
}

:global(.lbl),
:global(.btn) {
	@include core.border-rnd;

	text-align: center;
	background-color: var(--col-bg-lt);
	padding: core.$pad-med core.$pad-l;
}

:global(.btn) {
	@include core.hv;
	cursor: pointer;
}

:global(.group) {
	@include core.group;
}

:global(ul) {
	list-style: none;
	padding: 0;
	margin: 0;
}
