@use "sass:map";

$border-w: 1px;
$border-rad: 5px;

$pad-small: 2px;
$pad-med: 5px;
$pad-l: 15px;

$anim-easing: ("ease": ease-in-out, "spring": cubic-bezier(0.5, 0, 0.5, 1.5));
$anim-durations: ("short": 100ms, "medium": 250ms, "long": 500ms);

@mixin img-btn($img: null, $padding: 0, $color: null) {
	position: relative;

	@if ($img != null) {
		--img-btn-src: #{$img};
	}

	@if ($color == null) {
		&:hover::before {
			background-color: var(--bs-btn-hover-border-color);
		}
	
		&:active::before {
			background-color: var(--bs-btn-active-border-color);
		}
	
		&:disabled::before {
			background-color: var(--bs-btn-disabled-border-color);
		}
		
		&::before {
			background-color: var(--bs-btn-border-color);
		}
	} @else {
		&::before {
			background-color: $color;
		}
	}

	
	&:before {
		content: "";
		position: absolute;
		inset: $padding;
		-webkit-mask-image: var(--img-btn-src);
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: contain;
		-webkit-mask-position: center;
		mask-image: var(--img-btn-src);
		mask-repeat: no-repeat;
		mask-size: contain;
		mask-position: center;
	}
}

@mixin img-btn-url($name, $padding: 0, $color: null) {
	@include img-btn(url("chrome-extension://__MSG_@@extension_id__/res/" + $name), $padding, $color);
}

@mixin anim($props, $dur, $ease: "ease") {
	transition-property: $props;
	transition-duration: map.get($anim-durations, $dur);
	transition-timing-function: map.get($anim-easing, $ease);
}

@mixin theme($mode: light) {
	:global([data-bs-theme="#{$mode}"]) {
		@content;
	}
}

.expandable {
	.expander {
		@include img-btn-url("chevron.svg", $pad-small);
		aspect-ratio: 1;

		&::before {
			@include anim(rotate, "medium", "spring");
			rotate: 180deg;
		}
	}

	&:not(.expanded) > .expandable-content {
		display: none;
	}

	&.expanded .expander::before {
		rotate: 0deg;
	}
}