$border-w: 1px;
$border-rad: 5px;

$pad-small: 2px;
$pad-med: 5px;
$pad-l: 15px;

$anim-easing: ("ease": ease-in-out, "spring": cubic-bezier(0.5, 0, 0.5, 1.5));
$anim-durations: ("short": 100ms, "medium": 250ms, "long": 500ms);

@function tran($dur, $ease, $props...) {
	$dur: map-get($anim-durations, $dur);
	$ease: map-get($anim-easing, $ease);
	$rule: null;
	@each $prop in $props {
		$prefix: if($rule == null, "", $rule + ", ");
		$rule: #{$prefix} #{$prop} #{$dur} #{$ease};
	}
	@return $rule;
}

@mixin mask-prop($name, $value) {
	-webkit-mask-#{$name}: #{$value};
	mask-#{$name}: #{$value};
}

@mixin img-mask($image: null, $repeat: null, $size: null, $position: null) {
	@if ($image != null) {
		@include mask-prop("image", $image);
	}

	@if ($repeat != null) {
		@include mask-prop("repeat", $repeat);
	}

	@if ($size != null) {
		@include mask-prop("size", $size);
	}

	@if ($position != null) {
		@include mask-prop("position", $position);
	}
}

@function extUrl($path) {
	@return url("chrome-extension://__MSG_@@extension_id__/" + $path);
}

@mixin bs-swap($prefix, $from, $to) {
	#{$prefix}-#{$from}: var(#{$prefix}-#{$to});
	#{$prefix}-hover-#{$from}: var(#{$prefix}-hover-#{$to});
	#{$prefix}-active-#{$from}: var(#{$prefix}-active-#{$to});
	#{$prefix}-disabled-#{$from}: var(#{$prefix}-disabled-#{$to});
}

@mixin anim($prop, $dur, $ease: "ease") {
	transition: tran($dur, $ease, $prop...);
}

@mixin theme($mode: light) {
	:global([data-bs-theme="#{$mode}"]) {
		@content;
	}
}

.expandable {
	.expander {
		&::before {
			@include anim(rotate, "medium", "spring");
			rotate: 180deg;
			color: var(--bs-btn-color);

			&:hover {
				color: var(--bs-btn-hover-color);
			}

			&:active {
				color: var(--bs-btn-active-color);
			}
		}

		aspect-ratio: 1;
	}

	&:not(.expanded) > .expandable-content {
		display: none;
	}

	&.expanded .expander::before {
		rotate: 0deg;
	}
}
