$border-w: 1px;
$border-rad: 5px;

$pad-small: 2px;
$pad-med: 5px;
$pad-l: 15px;

$anim-easing: ("ease": ease-in-out, "spring": cubic-bezier(0.5, 0, 0.5, 1.5));
$anim-durations: ("short": 100ms, "medium": 250ms, "long": 500ms);

@function tran($dur, $ease, $props...) {
	$dur: map-get($anim-durations, $dur);
	$ease: map-get($anim-easing, $ease);
	$rule: null;
	@each $prop in $props {
		$prefix: if($rule == null, "", $rule + ", ");
		$rule: #{$prefix} #{$prop} #{$dur} #{$ease};
	}
	@return $rule;
}

@mixin mask-prop($name, $value) {
	-webkit-mask-#{$name}: #{$value};
	mask-#{$name}: #{$value};
}

@mixin img-mask($image: null, $repeat: null, $size: null, $position: null) {
	@if ($image != null) {
		@include mask-prop("image", $image);
	}

	@if ($repeat != null) {
		@include mask-prop("repeat", $repeat);
	}

	@if ($size != null) {
		@include mask-prop("size", $size);
	}

	@if ($position != null) {
		@include mask-prop("position", $position);
	}
}

@mixin img-btn($img: null, $padding: 0, $colors: null) {
	position: relative;

	@if ($img != null) {
		--img-btn-src: #{$img};
	}

	@if ($colors != null) {
		@if map-has-key($colors, "default") {
			--img-btn-color: #{map-get($colors, "default")};
		}

		@if map-has-key($colors, "hover") {
			&:hover {
				--img-btn-color: #{map-get($colors, "hover")};
			}
		}
	
		@if map-has-key($colors, "active") {
			&:active {
				--img-btn-color: #{map-get($colors, "active")};
			}
		}
	
		@if map-has-key($colors, "disabled") {
			&:disabled {
				--img-btn-color: #{map-get($colors, "disabled")};
			}
		}
	}

	
	&:before {
		@include img-mask(var(--img-btn-src), no-repeat, contain, center);
		content: "";
		position: absolute;
		inset: $padding;
		background-color: var(--img-btn-color);

		@content;
	}
}

@function extUrl($path) {
	@return url("chrome-extension://__MSG_@@extension_id__/" + $path);
}

@mixin bs-icon-btn($name: null, $padding: 0, $color: "border-color") {
	@if (type-of($color) != "map") {
		$color: ("default": var(--bs-btn-#{$color}), "hover": var(--bs-btn-hover-#{$color}), "active": var(--bs-btn-active-#{$color}), "disabled": var(--bs-btn-disabled-#{$color}));
	}

	@if ($name) {
		$name: bs-icon($name);
	}

	@include img-btn($name, $padding, $color) {
		@content;
	}
}

@mixin anim($prop, $dur, $ease: "ease") {
	transition: tran($dur, $ease, $prop...);
}

@mixin theme($mode: light) {
	:global([data-bs-theme="#{$mode}"]) {
		@content;
	}
}

.expandable {
	.expander {
		@include bs-icon-btn("chevron-up", $pad-small) {
			@include anim(rotate, "medium", "spring");
			rotate: 180deg;
		}

		aspect-ratio: 1;
	}

	&:not(.expanded) > .expandable-content {
		display: none;
	}

	&.expanded .expander::before {
		rotate: 0deg;
	}
}
