@use "./core.scss" as core;
@use "sass:color";
@import "./schemes.scss";

@function toRGB($hex) {
	@return red($hex) + "," + green($hex) + "," + blue($hex);
}

:root {
	--col-match-fg: #000;
	--col-match-bg: #CC3;

	--checkbox-bg-color: #0d6efd;
	--checkbox-border-color: #0d6efd;
	--focus-shadow-color: #0d6efd40;
	--focus-border-color: #0d6efd40;
}

@include core.theme(light) {
	color-scheme: light;

	--blur-bg-rgb: 0,0,0;

	--col-blue: #00F;
	--col-red: #F00;
	--col-grn: #0F0;
}

@include core.theme(dark) {
	color-scheme: dark;

	--blur-bg-rgb: 255,255,255;

	--col-blue: #68F;
	--col-red: #F86;
	--col-grn: #4F8;
}

:global(.form-check-input:checked) {
	background-color: var(--checkbox-bg-color) !important;
	border-color: var(--checkbox-border-color) !important;
}

:global(.form-check-input:focus),
:global(.form-select:focus),
:global(.form-control:focus) {
	border-color: var(--focus-border-color) !important;
	box-shadow: 0 0 0 0.25rem var(--focus-shadow-color) !important;
}

:global(ul) {
	list-style: none;
	padding: 0;
	margin: 0;
}

:global(.input-group .btn:hover) {
	z-index: 5;
}

:global(.btn-check:checked+.btn),
:global(.input-group .btn:active) {
	z-index: 6;
}

:global(.hoverable-radio > .btn-check+.btn:hover) {
	color: var(--bs-btn-hover-color);
	background-color: var(--bs-btn-hover-bg);
	border-color: var(--bs-btn-hover-border-color);
}

:global(.flex-fill0) {
	flex: 1 1 0px !important;
}

:global(.flex-fit) {
	flex: 0 0 auto !important;
}

:global(.bi) {
	display: flex;
	justify-content: center;
	align-items: center;
}

:global([data-bs-theme][data-scheme]),
:global([data-bs-theme] [data-scheme]) {
	color: var(--jv-body-text);
	--bs-border-color: var(--jv-tertiary-border);
	--bs-body-bg: var(--jv-body-bg);
	--bs-body-bg-rgb: var(--jv-body-bg-rgb);
	--bs-body-color: var(--jv-body-text);
	--bs-emphasis-color: var(--jv-body-text);
	--bs-heading-color: var(--jv-body-text);
	--bs-body-color-rgb: var(--jv-body-text-rgb);
	--bs-tertiary-bg: var(--jv-tertiary-bg);
	--bs-tertiary-bg-rgb: var(--jv-tertiary-bg-rgb);
	--bs-tertiary-color: rgba(var(--jv-body-bg-rgb), 0.5);
	--bs-tertiary-color-rgb: var(--jv-body-bg-rgb);
	--bs-secondary-bg: var(--jv-secondary-bg);
	--bs-secondary-bg-rgb: var(--jv-secondary-bg-rgb);
	--bs-secondary-color: rgba(var(--jv-body-bg-rgb), 0.75);
	--bs-secondary-color-rgb: var(--jv-body-bg-rgb);
	--checkbox-bg-color: var(--jv-primary-border);
	--checkbox-border-color: var(--jv-primary-border);
	--focus-shadow-color: rgba(var(--jv-primary-border-rgb), 0.25);
	--focus-border-color: rgba(var(--jv-primary-border-rgb));
	--editor-bg-color: rgba(var(--jv-primary-border-rgb), 0.5);

	:global(.btn-primary) {
		--bs-btn-bg: var(--jv-primary-bg);
		--bs-btn-hover-bg: var(--jv-primary-active-bg);
		--bs-btn-active-bg: var(--jv-primary-hover-bg);
		--bs-btn-disabled-bg: var(--jv-primary-disabled-bg);
		--bs-btn-border-color: var(--jv-primary-border);
		--bs-btn-hover-border-color: var(--jv-primary-active-border);
		--bs-btn-active-border-color: var(--jv-primary-hover-border);
		--bs-btn-disabled-border-color: var(--jv-primary-disabled-border);
		--bs-btn-color: var(--jv-primary-color);
		--bs-btn-hover-color: var(--jv-primary-active-color);
		--bs-btn-active-color: var(--jv-primary-hover-color);
		--bs-btn-disabled-color: var(--jv-primary-disabled-color);
	}

	:global(.btn-base) {
		--bs-btn-bg: var(--jv-tertiary-bg);
		--bs-btn-hover-bg: var(--jv-tertiary-hover-bg);
		--bs-btn-active-bg: var(--jv-tertiary-active-bg);
		--bs-btn-disabled-bg: var(--jv-tertiary-bg);
		--bs-btn-border-color: var(--jv-tertiary-border);
		--bs-btn-hover-border-color: var(--jv-tertiary-active-border);
		--bs-btn-active-border-color: var(--jv-tertiary-hover-border);
		--bs-btn-disabled-border-color: var(--jv-tertiary-border);
		--bs-btn-color: var(--jv-body-color);
		--bs-btn-hover-color: var(--jv-body-color);
		--bs-btn-active-color: var(--jv-body-color);
		--bs-btn-disabled-color: var(--jv-body-color);
	}
}
