@use "./core.scss" as core;

:root, :global([data-bs-theme="light"]) {
	--col-json-key-fg: #18F;
	--col-json-str-fg: #854;
	--col-json-num-fg: #992;
	--col-json-bln-fg: #14A;
	--col-json-null-fg: #95F;
	--col-match-fg: #000;
	--col-match-bg: #CC3;

	--col-indent-1: #C44;
	--col-indent-2: #C84;
	--col-indent-3: #CC8;
	--col-indent-4: #8C8;
	--col-indent-5: #4CC;
	--col-indent-6: #48C;
	--col-indent-7: #C8C;
	--col-indent-8: #C4C;

	--col-blue: #00F;
	--col-red: #F00;
	--col-grn: #0F0;

	--font-family: Calibri;
}

:global([data-bs-theme="dark"]) {
	--col-json-key-fg: #8CF;
	--col-json-str-fg: #C75;
	--col-json-num-fg: #FF8;
	--col-json-bln-fg: #38F;
	--col-json-null-fg: #95F;
	--col-match-fg: #000;
	--col-match-bg: #FF0;

	--col-indent-1: #B44;
	--col-indent-2: #B84;
	--col-indent-3: #BB8;
	--col-indent-4: #8B8;
	--col-indent-5: #4BB;
	--col-indent-6: #48B;
	--col-indent-7: #B8B;
	--col-indent-8: #B4B;

	--col-blue: #68F;
	--col-red: #F86;
	--col-grn: #4F8;
}

:global(ul) {
	list-style: none;
	padding: 0;
	margin: 0;
}
