@use "./core.scss" as core;
@use "sass:color";
@import "./themes.scss";

@function toRGB($hex) {
	@return red($hex) + "," + green($hex) + "," + blue($hex);
}

//$cst-dirty-bg: #33361a;
$cst-dirty-bg-light: #e4e489;
$cst-dirty-color-light: #000;
$cst-dirty-border-color-light: #cdcd5f;

$cst-dirty-bg-dark: #3e432c;
$cst-dirty-color-dark: #bcbdad;
$cst-dirty-border-color-dark: #5c603b;

:root {
	--col-match-fg: #000;
	--col-match-bg: #CC3;

	--checkbox-bg-color: #0d6efd;
	--checkbox-border-color: #0d6efd;
	--focus-shadow-color: #0d6efd40;
	--focus-border-color: #0d6efd40;
}

@include core.theme(light) {
	color-scheme: light;

	--col-blue: #00F;
	--col-red: #F00;
	--col-grn: #0F0;

	--cst-dirty-bg: #{$cst-dirty-bg-light};
	--cst-dirty-bg-rgb: #{toRGB($cst-dirty-bg-light)};
	--cst-dirty-color: #{$cst-dirty-color-light};
	--cst-dirty-border-color: #{$cst-dirty-border-color-light};

	--cst-dirty-hover-bg: #{color.scale($cst-dirty-bg-light, $lightness: -10%)};
	--cst-dirty-hover-color: #{color.scale($cst-dirty-color-light, $lightness: -10%)};
	--cst-dirty-hover-border-color: #{color.scale($cst-dirty-border-color-light, $lightness: -10%)};

	--cst-dirty-active-bg: #{color.scale($cst-dirty-bg-light, $lightness: -30%)};
	--cst-dirty-active-color: #{color.scale($cst-dirty-color-light, $lightness: -30%)};
	--cst-dirty-active-border-color: #{color.scale($cst-dirty-border-color-light, $lightness: -30%)};
}

@include core.theme(dark) {
	color-scheme: dark;

	--col-blue: #68F;
	--col-red: #F86;
	--col-grn: #4F8;

	--cst-dirty-bg: #{$cst-dirty-bg-dark};
	--cst-dirty-bg-rgb: #{toRGB($cst-dirty-bg-dark)};
	--cst-dirty-color: #{$cst-dirty-color-dark};
	--cst-dirty-border-color: #{$cst-dirty-border-color-dark};

	--cst-dirty-hover-bg: #{color.scale($cst-dirty-bg-dark, $lightness: 10%)};
	--cst-dirty-hover-color: #{color.scale($cst-dirty-color-dark, $lightness: 10%)};
	--cst-dirty-hover-border-color: #{color.scale($cst-dirty-border-color-dark, $lightness: 10%)};

	--cst-dirty-active-bg: #{color.scale($cst-dirty-bg-dark, $lightness: 20%)};
	--cst-dirty-active-color: #{color.scale($cst-dirty-color-dark, $lightness: 20%)};
	--cst-dirty-active-border-color: #{color.scale($cst-dirty-border-color-dark, $lightness: 20%)};
}

:global(.form-check-input:checked) {
	background-color: var(--checkbox-bg-color) !important;
	border-color: var(--checkbox-border-color) !important;
}

:global(.form-check-input:focus),
:global(.form-select:focus),
:global(.form-control:focus) {
	border-color: var(--focus-border-color) !important;
	box-shadow: 0 0 0 0.25rem var(--focus-shadow-color) !important;
}

:global(ul) {
	list-style: none;
	padding: 0;
	margin: 0;
}

:global(.btn.btn-cust-light) {
	--bs-btn-color: var(--cst-btn-color);
	--bs-btn-bg: var(--cst-btn-bg);
	--bs-btn-border-color: var(--cst-btn-border-color);
	--bs-btn-hover-color: var(--cst-btn-hover-color);
	--bs-btn-hover-bg: var(--cst-btn-hover-bg);
	--bs-btn-hover-border-color: var(--cst-btn-hover-border-color);
	--bs-btn-active-color: var(--cst-btn-active-color);
	--bs-btn-active-bg: var(--cst-btn-active-bg);
	--bs-btn-active-border-color: var(--cst-btn-active-border-color);
	--bs-btn-disabled-color: var(--cst-btn-disabled-color);
	--bs-btn-disabled-bg: var(--cst-btn-disabled-bg);
	--bs-btn-disabled-border-color: var(--cst-btn-disabled-border-color);
}

:global(.input-group .btn:hover) {
	z-index: 5;
}

:global(.btn-check:checked+.btn),
:global(.input-group .btn:active) {
	z-index: 6;
}

:global(.dirty.input-group > .input-group-text),
:global(.dirty) {
	--bs-tertiary-bg: var(--cst-dirty-bg);
	--bs-tertiary-bg-rgb: var(--cst-dirty-bg-rgb);
	--bs-body-bg: var(--cst-dirty-bg);
	--bs-body-color: var(--cst-dirty-color);
	--bs-border-color: var(--cst-dirty-border-color);
}

:global(.dirty .btn.btn-cust-light) {
	--bs-btn-bg: var(--cst-dirty-bg);
	--bs-btn-color: var(--cst-dirty-color);
	--bs-btn-border-color: var(--cst-dirty-border-color);
	--bs-btn-hover-bg: var(--cst-dirty-hover-bg);
	--bs-btn-hover-color: var(--cst-dirty-hover-color);
	--bs-btn-hover-border-color: var(--cst-dirty-hover-border-color);
	--bs-btn-active-bg: var(--cst-dirty-active-bg);
	--bs-btn-active-color: var(--cst-dirty-active-color);
	--bs-btn-active-border-color: var(--cst-dirty-active-border-color);
}