name: Build

on:
  push:
    tags: ['**']

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 20
      uses: actions/setup-node@v3
      with:
        node-version: 20.x
        cache: 'npm'
    - name: Install
      run: npm ci
    - name: Build Tests
      run: npm run build-tests
    - name: Run Tests
      run: npm test
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        browser: [chrome, firefox]
    steps:
    - uses: actions/checkout@v3
    - name: Set Version
      run: echo "EXT_VERSION=${GITHUB_REF##*/}" >> $GITHUB_ENV
    - name: Use Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: 20.x
        cache: 'npm'
    - name: Install
      run: npm ci
    - name: Build Extension
      run: npx rollup -c --dist --browser ${{ matrix.browser }}
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: "json-viewer-${{ matrix.browser }}-${{ env.EXT_VERSION }}"
        path: ./out/${{ matrix.browser }}
